<h1>Статьи</h1>
<p><a href="/pages/4/"{if $curr_a_category == 0} style="font-weight:bold;"{/if}>Все</a>&nbsp;&nbsp;
{foreach from=$articles_categories item=item}
<a href="/articles/cat/{$item.category_id}/"{if $curr_a_category == $item.category_id} style="font-weight:bold;"{/if}>{$item.name}</a>&nbsp;&nbsp;
{/foreach}
</p>
{foreach name=articles from=$articles item=item}
<p><span class="date">{$item.added_time|date_format:"%d.%m.%Y"}</span>&nbsp; <a href="/article/{$item.article_id}/" class="item_title"><strong>{$item.title}</strong></a></p>
{/foreach}

{if $splitMenu}<div align="center">Страницы: {$splitMenu}</div>{/if}