<div align="center">
<a href="{$smarty.server.PHP_SELF}">Рейтинг страниц</a>&nbsp;&nbsp;&nbsp;
</div>
<form action="{$smarty.server.PHP_SELF}?mode=search_phrases" method="POST" name="monthfrm" style="margin: 0px;">
<p class="header">Посещения. Поисковые фразы. Месяц: 
<select name="month" onChange="document.monthfrm.submit();">
{foreach name="months" from=$months item=item}
 <option value="{$item.month}"{if $item.month==$smarty.request.month} selected{/if}>{$item.month}</option>
{/foreach}
</select></p>
</form>

{eval var=0 assign=count}
<table width="100%" border="0" cellpadding="3" cellspacing="1">
 <tr>
  <td class="tableHeader">#</td>
  <td class="tableHeader">Поисковик</td>
  <td class="tableHeader">Фраза</td>
  <td class="tableHeader">Посещений</td>
 </tr>
 {foreach name="phrases" from=$phrases item=item}
 <tr class="tableRow{cycle values="1,2"}">
  <td align="center">{$smarty.foreach.phrases.iteration}</td>
  <td><a href="{$item.searcher.url}" target="_blank">{$item.searcher.name}</a></td>
  <td>{$item.search_phrase}</td>
  <td align="center">{$item.hits}{eval var=$count+$item.hits assign=count}</td>
 </tr>
 {/foreach}
 <tr class="tableRow2">
  <td colspan="3" align="right">Всего:</td>
  <td align="center">{$count}</td>
 </tr>
</table>
{if $splitMenu}<div align="center">{$splitMenu}</div>{/if}