<p class="header" align="center">Редактирование полезных ссылок</p>
<table width="95%" border="0" cellpadding="3" cellspacing="0" align="center">
 <tr>
  <td align="right"><a href="index.php?mode=new"><img src="{$URL_IMAGE}admin/add.gif" border="0" align="absmiddle">&nbsp;Добавить</a></td>
 </tr>
</table>

<table width="95%" border="0" cellpadding="3" cellspacing="1" align="center">
 <tr>
  <td class="tblHeader">ID</td>
  <td class="tblHeader">Заголовок</td>
  <td class="tblHeader">Адрес</td>
  <td class="tblHeader">Показывать</td>
  <td class="tblHeader">Язык</td>
  <td class="tblHeader">Позиция</td>
  <td class="tblHeader" width="90">&nbsp;</td>
 </tr>
 {foreach name="news" from=$links item="item"}
 <tr class="tblRow{if $smarty.foreach.news.iteration is odd}1{else}2{/if}">
  <td align="center">{$item.id}</td>
  <td align="center"><a href="index.php?mode=edit&id={$item.link_id}">{$item.title}</a></td>
  <td align="center"><a href="{$item.href}" target="_blank" title="{$item.description}">{$item.href}</a></td>  
  <td align="center">{if $item.shown == 1}да{else}нет{/if}</td>
  <td align="center">{$item.language}</td>
  <td align="center">
   <a href="index.php?mode=move_up&id={$item.link_id}"><img src="{$URL_IMAGE}admin/up.gif" border="0" alt="Вверх"></a>&nbsp;
   <a href="index.php?mode=move_down&id={$item.link_id}"><img src="{$URL_IMAGE}admin/down.gif" border="0" alt="Вниз"></a>
  </td>  
  <td align="center">
   <a href="index.php?mode=edit&id={$item.link_id}"><img src="{$URL_IMAGE}admin/edit.gif" border="0" align="absmiddle" alt="Редактировать"></a>&nbsp;
   <a href="index.php?mode=hide&id={$item.link_id}"><img src="{$URL_IMAGE}admin/show.gif" border="0" align="absmiddle" alt="Скрыть/показать"></a>&nbsp;
   <a href="#" onClick="if (confirm('Вы уверены?')) location.href='index.php?mode=delete&id={$item.link_id}'; return false;"><img src="{$URL_IMAGE}admin/delete.gif" border="0" align="absmiddle" alt="Удалить"></a>
  </td>
 </tr>
 {/foreach}
</table>