<h1>Добавление параметра в группу "{$group.group_name}"</h1>

<form action="parameters.php?mode=save_new_parameter&group_id={$group.group_id}" method="POST" enctype="multipart/form-data" onSubmit="if (hasEmptyFields('parameter_name', false, 'Заполните форму, пожалуйста.')) return false;">
<table width="100%" border="0" cellpadding="3" cellspacing="1" align="center">

 <tr>
  <td class="tableHeaderLeft">Название параметра:</td>
  <td class="tableRow1"><input type="text" name="parameter_name" class="input" value="" id="parameter_name" /></td>
 </tr>

 <tr>
  <td class="tableHeaderLeft">Единица измерения:</td>
  <td class="tableRow1"><input type="text" name="unit" class="input" value="" id="unit" /></td>
 </tr>

 <tr>
  <td class="tableHeaderLeft">Отображать как заголовок:</td>
  <td class="tableRow1"><input type="checkbox" name="is_header" value="1" id="is_header" /></td>
 </tr>

 <tr>
  <td class="tableHeaderLeft">Использовать в поиске:</td>
  <td class="tableRow1"><input type="checkbox" name="use_in_search" value="1" id="use_in_search" /></td>
 </tr>

 <tr>
  <td>&nbsp;</td>
  <td>
    <input type="submit" class="button" value="Добавить">&nbsp;
    <input type="button" onClick="location.href='parameters.php?mode=edit_group&group_id={$group.group_id}'; return false;" class="button" value="Отмена">
   </td>
 </tr>
</table>
</form>