<h3>Продукты подкатегории "{$subcategory.subcategory_name}"</h3>
<p><a href="index.php">Все категории</a> -&gt; <a href="index.php?mode=subcategories&cat_id={$subcategory.category_id}">{$category.category_name}</a> -&gt; {$subcategory.subcategory_name} </p>
<script type="text/javascript">
{literal}
function hide() {
	if (document.getElementById('mode').value == 'moveto_category') {
		document.getElementById('move_category').style.display='inline'
	} else {
		document.getElementById('move_category').style.display='none'
	}
}
{/literal}
</script>
<form action="index.php?mode=save_subcategory&subcat_id={$subcategory.subcategory_id}" enctype="multipart/form-data" method="POST" onSubmit="if (hasEmptyFields('subcategory_name', false, 'Заполните форму, пожалуйста')) return false;">
<table width="100%" border="0" cellpadding="3" cellspacing="1">
 <tr>
  <td colspan="2" class="tableHeader">Редактирование подкатегории</td>
 </tr>
 <tr>
  <td class="tableHeaderLeft">Название подкатегории</td>
  <td class="tableRow1"><input type="text" name="subcategory_name" id="subcategory_name" value="{$subcategory.subcategory_name|replace:'"':"&quot;"}" class="input"></td>
 </tr>
 <tr>
  <td class="tableHeaderLeft">Группа параметров</td>
  <td><select name="group_id" class="input">
  <option value="0"></option>
  {foreach from=$groups item=item}
  <option value="{$item.group_id}"{if $item.group_id==$subcategory.group_id} selected{/if}>{$item.group_name}</option>
  {/foreach}
  </select></td>
 </tr>
 <tr>
  <td class="tableHeaderLeft" rowspan="2">Картинка подкатегории</td>
  <td class="tableRow1">{mm_image file_id=$subcategory.image_file_id}</td>
 </tr>
 <tr>
  <td class="tableRow1"><input type="file" name="image_file" class="input"></td>
 </tr>
 <tr>
  <td class="tableHeaderLeft">Выделить</td>
  <td class="tableRow1"><input type="checkbox" name="marked" id="marked" value="1"{if $subcategory.marked} checked{/if}></td>
 </tr>
 <tr>
  <td class="tableHeaderLeft">Скрыть</td>
  <td class="tableRow1"><input type="checkbox" name="hidden" id="hidden" value="1"{if $subcategory.hidden} checked{/if}></td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Сохранить" class="button"></td>
 </tr>
</table>
</form>

<form action="index.php?subcat_id={$subcategory.subcategory_id}" method="POST">
<table width="100%" border="0" cellpadding="3" cellspacing="1">
 <tr>
 	<td colspan="9" align="right"><a href="index.php?mode=add_product&subcat_id={$subcategory.subcategory_id}"><img src="{$URL_IMAGE}admin/add.gif" border="0" align="absmiddle">&nbsp;Добавить продукт</a></td>
 </tr>
 <tr>
  <td class="tableHeader">ID</td>
  <td class="tableHeader" width="20">&nbsp;</td>
  <td class="tableHeader">Название продукта</td>
  <td class="tableHeader">Цена</td>
  <td class="tableHeader" width="120">Добавлен</td>
  <td class="tableHeader">Показывать</td>
  <td class="tableHeader">В наличии</td>
  <td class="tableHeader" width="70">Позиция</td>
  <td class="tableHeader" width="90">&nbsp;</td>
 </tr>
 {foreach name="products" from=$products item=item}
 <tr class="tableRow{cycle values="1,2"}">
  <td align="center">{$item.product_id}</td>
  <td align="center"><input type="checkbox" name="selected[]" value="{$item.product_id}"></td>
  <td align="center">{if $item.linked_to_product}<img src="{$URL_IMAGE}admin/ref.gif" border="0" align="absmiddle">&nbsp;{/if}<a href="index.php?mode=edit_product&product_id={$item.product_id}">{$item.product_name}</a></td>
  <td align="center">{$item.price}</td>
  <td align="center">{$item.added_time}</td>
  <td align="center">{if $item.shown == 1}да{else}нет{/if}</td>
  <td align="center">{if $item.absent == 1}нет{else}есть{/if}</td>
  <td align="center">
   <a href="index.php?mode=move_product_up&product_id={$item.product_id}"><img src="{$URL_IMAGE}admin/up.gif" border="0" alt="Вверх"></a>&nbsp;
   <a href="index.php?mode=move_product_down&product_id={$item.product_id}"><img src="{$URL_IMAGE}admin/down.gif" border="0" alt="Вниз"></a>
  </td>
  <td align="center">
   <a href="index.php?mode=edit_product&product_id={$item.product_id}"><img src="{$URL_IMAGE}admin/edit.gif" border="0" align="absmiddle" alt="Редактировать"></a>&nbsp;
   <a href="index.php?mode=hide_product&product_id={$item.product_id}"><img src="{$URL_IMAGE}admin/show.gif" border="0" align="absmiddle" alt="Скрыть/показать"></a>&nbsp;
   <a href="#" onClick="if (confirm('Вы действительно хотите удалить этот продукт?\n{$item.product_name}')) location.href='index.php?mode=delete_product&product_id={$item.product_id}';"><img src="{$URL_IMAGE}admin/delete.gif" border="0" align="absmiddle" alt="Удалить"></a>
  </td>
 </tr>
 {foreachelse}
 <tr>
  <td align="center" colspan="9">Нет продуктов в этой подкатегории</td>
 </tr>
 {/foreach}
</table>
{if $products}
<div style="padding-top: 10px;">
С отмеченными: <select name="mode" id ="mode" class="input" onchange="hide()">
<option value="">Выберите операцию</option>
<option value="hide_selected">Скрыть</option>
<option value="show_selected">Показать</option>
<option value="absent_selected">Нет в наличии</option>
<option value="present_selected">Есть в наличии</option>
<option value="moveto_category">Переместить в категорию</option>
</select>
<select name="move_category" id ="move_category" class="input" style="display:none">
<option value="0">Выберите категорию</option>
{foreach from=$all_categories item=item}
<option value="0">{$item.category_name}</option>
{if $item.subcategories}
{foreach from=$item.subcategories item=item1}
<option value="{$item1.subcategory_id}">-{$item1.subcategory_name}</option>
{/foreach}
{/if}
{/foreach}
</select>
<input type="submit" value="Выполнить операцию" class="button">
</div>
{/if}
</form>