<h3>Редактирование статьи "{$item.title|htmlspecialchars}"</h3>
<form action="index.php?mode=save&id={$item.article_id}" method="POST" onSubmit="if (hasEmptyFields('title', false, 'Заполните форму, пожалуйста.')) return false;" enctype="multipart/form-data">
  <table width="100%"  border="0" cellspacing="1" cellpadding="3">
    <tr>
      <td class="tableHeaderLeft">Заголовок статьи</td>
      <td class="tableRow1"><input name="title" type="text" class="text" id="title" value="{$item.title|htmlspecialchars}" style="width:100%;"></td>
    </tr>
    <tr>
      <td class="tableHeaderLeft">Текст статьи</td>
      <td class="tableRow2">{$editor_code}</td>
    </tr>
    <tr>
      <td class="tableHeaderLeft">Картинка к статье</td>
      <td class="tableRow1">{mm_image file_id=$item.image_file_id}<br>
       <input name="image_file" type="file" class="text" id="image_file"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <br />
      	<input name="Submit" type="submit" class="button" value="Сохранить">&nbsp;
      	<input type="button" class="button" value="Отмена" onclick="location.href='index.php?mode=articles&id={$item.category_id}'"></td>
    </tr>
  </table>
  </form>