<h3>Курсы валют</h3>

<form action="index.php?mode=save_rate" method="POST" onSubmit="if (hasEmptyFields('rate_cash rate_bank', false, 'Заполните форму, пожалуйста')) return false;">

  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td class="tableHeaderLeft">Наличные</td>
        <td class="tableRow1"><input type="text" name="rate_cash" id="rate_cash" value="{$cash}" class="short_text"></td>
    </tr>
    <tr>
        <td class="tableHeaderLeft">Безналичные</td>
        <td class="tableRow1"><input type="text" name="rate_bank" id="rate_bank" value="{$bank}" class="short_text"></td>
    </tr>
    <tr>
      <td class="tableHeaderLeft">Телефон</td>
      <td class="tableRow1">(
        <input name="phone_pre" type="text" class="short_text" value="{$phone_pre}" size="4" />
        )
        <input type="text" name="phone_number" value="{$phone_number}" class="short_text" /></td>
    </tr>    
    <tr>
      <td>&nbsp;</td>
      <td>
      	<br />
      	<input name="Submit" type="submit" class="button" value="Сохранить">&nbsp;
      	<input type="button" class="button" value="Отмена" onclick="location.href='index.php'"></td>
    </tr>
  </table>
</form>